/* Секция Клиенты */
.client-link {
    display: flex;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon{
    fill: #AFB1B8 ;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus,
.client-link:hover .client-icon,
.client-link:focus .client-icon {
    border-color: $akcent-color;
    fill: $akcent-color;
    cursor: pointer;
}