/* Логотип */
.logo,
.footer-logo-link {
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $logo-color;
    }
.web {
    color: $akcent-color;
}
.logo {
    margin-right: 85px;
}